/* NOTE: this CSS is majorly a workaround and might not work with u as expected, u might wanna tweak some things. gl. :) */

@-moz-document url("about:home"), url("about:newtab") {
  html,
  body {
    scrollbar-width: none !important;
  }
  body {
    background-image: url("https://nytril-ark.github.io/blank.png") !important;
    background-size: cover !important;
  }

  .search-inner-wrapper {
    position: relative !important;
    overflow: visible !important;
    margin-top: 250px !important;
  }

  .logo-and-wordmark-wrapper::after {
    content: "" !important;
    position: absolute !important;
    bottom: -407px !important;
    left: 1616px !important;
    width: 110px !important;
    height: 110px !important;
    background-image: url("https://nytril-ark.github.io/bird.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    pointer-events: none !important;
    z-index: 2000 !important;
    display: block !important;
  }

  .search-inner-wrapper::after {
    content: "" !important;
    position: absolute !important;
    top: -108px !important;
    right: -2px !important;
    width: 200px !important;
    height: 200px !important;
    /* background-image: url("https://nytril-ark.github.io/catsit2.svg") !important; */
    background-image: url("https://nytril-ark.github.io/sleep.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    transform: scaleX(-1);
    pointer-events: none !important;
    z-index: 2000 !important;
    display: block !important;
  }

  .search-inner-wrapper::before {
    content: "" !important;
    position: absolute !important;
    top: -390px !important;
    right: 1121px !important;
    width: 120px !important;
    height: 120px !important;
    background-image: url("https://nytril-ark.github.io/chop.png") !important;
    transform: scaleX(-1);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    pointer-events: none !important;
    z-index: 2000 !important;
    display: block !important;
  }

  .non-collapsible-section {
    position: relative !important;
  }

  .non-collapsible-section::before {
    content: "" !important;
    position: absolute !important;
    top: 580px !important;
    right: 1520px !important;
    width: 205px !important;
    height: 205px !important;
    background-image: url("https://nytril-ark.github.io/threads.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    pointer-events: none !important;
    z-index: 2000 !important;
    display: block !important;
  }

  .logo-and-wordmark {
    display: none !important;
  }

  .personalize-button {
    display: none !important;
  }

  .search-handoff-button {
    background-color: #efe5d2 !important;
    border-radius: 0px !important;
    border: 1px solid #90664a !important;
    box-shadow: 8px 8px 0px #90664a !important;
  }

  content-search-handoff-ui {
    --newtab-search-icon: url("https://nytril-ark.github.io/rumda.svg") !important;
    --size-item-medium: 50px !important;
  }

  .search-handoff-button {
    background-position: 8px center !important;
    padding-inline-start: 60px !important;
    padding-inline-end: 16px !important;
  }

  .fake-caret {
    background-color: #1c1612 !important;
  }
}
